BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4 # Number of spaces for an indentation level (affects alignment)
TabWidth: 4 # Width of a tab character
UseTab: ForIndentation # Use tabs for indentation, spaces for alignment
